<section ng-controller="listController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">PASSSSSSWORD</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/user">User</a></li>
                <li class="active"><a href="#/list">List</a></li>
            </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" ng-controller="logoutController">
                    <li><a ng-click="logout()">Log Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="breadcrumbs">
        <ol class="breadcrumb">
            <li ng-repeat="part in pathParts"><a ng-href="#/list{{ part.path }}">{{ part.name }}</a></li>
        </ol>
    </section>

    <section ng-show="isDir">
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addDirModal">Add Directory</button>
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addFileModal">Add File</button>
    </section>

    <!--LIST FOR DISPLAYING DIRECTORIES-->
    <section ng-show="isDir">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Directories</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group" ng-show="dirs.length > 0">
                    <li class="list-group-item" ng-repeat="dir in dirs"><a ng-href="#/list{{ dir.path }}">{{ dir.name }}</a></li>
                </ul>
                <div ng-show="dirs.length == 0">There doesn't seem to be anything here...</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Files</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group" ng-show="files.length > 0">
                    <li class="list-group-item" ng-repeat="file in files"><a ng-href="#/list{{ file.path }}">{{ file.name }}</a></li>
                </ul>
                <div ng-show="files.length == 0">There doesn't seem to be anything here...</div>
            </div>
        </div>
    </section>

    <section ng-show="isFile">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ file.name }}</h3>
            </div>
            <div class="panel-body" style="overflow:hidden;">
                <strong>Recipient: </strong>{{ recipients.join(", ") }}<br/>
                <strong>Contents: </strong>{{ file.contents }}
            </div>
        </div>
    </section>

    <!--MODAL FOR ADDING DIRECTORY-->
    <div class="modal fade" id="addDirModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Add Directory</h3>
                </div>
                <div class="modal-body" id="dir-modal-body">
                    <form name="fileForm">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="dirname" ng-model="dirForm.name" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addDir()">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL FOR ADDING FILE-->
    <div class="modal fade" id="addFileModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Add File</h3>
                </div>
                <div class="modal-body" id="file-modal-body">
                    <form name="fileForm">
                        <div class="form-group">
                            <label>Path</label>
                            <input type="text" class="form-control" name="pathname" ng-model="fileForm.path" ng-value="path" required>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="filename" ng-model="fileForm.name" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="filepassword" ng-model="fileForm.password" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addFile()">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>